In [1]:
import pandas as pd
import numpy as np

In [2]:
criteria = ['1218_유동인구/거주인구', '2103_유동인구/거주인구', '면적대비_CCTV', '보정_면적대비범죄자수', '유흥매출액', '여성1인가구수']

In [11]:
df = pd.DataFrame(columns=l, index=criteria)

In [64]:
df

,1218_유동인구/거주인구,2103_유동인구/거주인구,면적대비_CCTV,보정_면적대비범죄자수,유흥매출액,여성1인가구수
1218_유동인구/거주인구,1,0.2,3,3,0.2,0.333333
2103_유동인구/거주인구,5,1,5,5,1,1
면적대비_CCTV,0.333333,0.2,1,0.333333,0.2,0.2
보정_면적대비범죄자수,0.333333,0.2,3,1,0.333333,0.333333
유흥매출액,5,1,5,3,1,3
여성1인가구수,3,1,5,3,0.333333,1

In [63]:
df.at['유흥매출액', '유흥매출액'] = 1

In [65]:
df.to_csv('factor.csv')