In [158]:
import pandas as pd
import numpy as np

In [7]:
card = pd.read_csv('dj_card.csv', encoding ='utf=8')
card.head(10)

       연월      시 자치구 행정동      분류         매출액
0  201901  대전광역시  동구  효동   건축관련업    22163814
1  201901  대전광역시  동구  효동  레저/스포츠    17089598
2  201901  대전광역시  동구  효동   문화/취미    65469612
3  201901  대전광역시  동구  효동      미용   406169011
4  201901  대전광역시  동구  효동      소매  1951915657
5  201901  대전광역시  동구  효동    신변잡화   212943103
6  201901  대전광역시  동구  효동   용역서비스    15722607
7  201901  대전광역시  동구  효동  유아교육기관   250119674
8  201901  대전광역시  동구  효동      유흥   174111133
9  201901  대전광역시  동구  효동    음식료품   169627578

In [20]:
card['행정동'].unique()

array(['효동', '판암1동', '판암2동', '용운동', '자양동', '가양1동', '가양2동', '용전동', '홍도동',
       '대청동', '산내동', '중앙동', '신인동', '대동', '성남동', '삼성동', '은행선화동', '목동',
       '중촌동', '대흥동', '문창동', '석교동', '대사동', '부사동', '용두동', '오류동', '태평1동',
       '태평2동', '유천1동', '유천2동', '문화1동', '문화2동', '산성동', '복수동', '도마1동',
       '도마2동', '정림동', '변동', '용문동', '탄방동', '둔산1동', '둔산2동', '괴정동', '가장동',
       '내동', '갈마1동', '갈마2동', '월평1동', '월평2동', '월평3동', '만년동', '가수원동', '기성동',
       '관저1동', '관저2동', '둔산3동', '진잠동', '온천2동', '신성동', '전민동', '노은1동', '구즉동',
       '관평동', '온천1동', '원신흥동', '노은2동', '노은3동', '오정동', '대화동', '회덕동', '비래동',
       '중리동', '법1동', '법2동', '신탄진동', '석봉동', '덕암동', '목상동', '송촌동'],
      dtype=object)

In [19]:
len(card['행정동'].unique())

79

In [12]:
card['분류'].unique()

array(['건축관련업', '레저/스포츠', '문화/취미', '미용', '소매', '신변잡화', '용역서비스', '유아교육기관',
       '유흥', '음식료품', '의료기관/제약', '의류', '일반음식점', '자동차정비/유지', '전자상거래', '주유',
       '학습자재', '학원', '휴게음식점', '기타유통', '사무기기', '숙박', '운송기구판매', '기타제조/도매',
       '관광여행', '수리서비스', '전자제품', '주방용품', '직물/침구류', '가례서비스', '가구', '회비',
       '대형유통', '악기', '요금', '비영리유통', '연료판매', '보험', '학교'], dtype=object)

In [21]:
yh = card[card['분류']=='유흥']
grouped = card['매출액'].groupby(card['행정동'])
grouped.sum()

행정동
가수원동     192303662978
가양1동      71570453044
가양2동      75950059388
가장동       84910393961
갈마1동     139435674783
갈마2동     139203764905
관저1동     107542890732
관저2동     241632003290
관평동      220094507171
괴정동       81001698639
구즉동      114173367152
기성동         648270653
내동        73829246408
노은1동     351356134011
노은2동      58312778537
노은3동     139747557091
대동        33482313503
대사동       14343423055
대청동         455854806
대화동       36250600915
대흥동      318938085282
덕암동      133204575918
도마1동     128412606964
도마2동      68456977116
둔산1동     258051694404
둔산2동     849517599154
둔산3동      37737564005
만년동      106937926776
목동        23497182679
목상동       50502682324
             ...
오류동      182715389800
오정동      310939148878
온천1동     633180562923
온천2동     416781414366
용두동       19425464035
용문동      171936249414
용운동       38079938253
용전동       88558635984
원신흥동     160406546556
월평1동     102383044049
월평2동      55157307614
월평3동       8725157576
유천1동      36417983062
유천2동      70905556221
은행선화동    237007936327
자양동       64625298285
전민동      110138119921
정림동       59940200555
중리동      183550988445
중앙동      290008562711
중촌동       55168159789
진잠동      127398066787
탄방동      745711817928
태평1동      56648679703
태평2동      46692127864
판암1동      40507301250
판암2동       9046109848
홍도동       44409348784
회덕동       45827747277
효동       162700380206
Name: 매출액, Length: 79, dtype: int64

In [ ]:
import folium
json_data=open("TL_SCCO_EMD.json",encoding='UTF8').read()
file = json.loads(json_data)

map=folium. Map([37.565784, 126.938572],zoom_start=7)
folium.Choropleth(geo_data =json_data).add_to(map)
map

In [98]:
from selenium import webdriver
path = 'D:/와이빅타/20_1/대전시공모전/chromedriver' #크롬드라이버 패스
driver = webdriver.Chrome(path)

driver.get('https://www.sexoffender.go.kr/m1s2_4_dong.nsc')

In [125]:
driver.implicitly_wait(3)

def crawler(page_num):
    #driver.get(url)
    for i in range(-(page_num),0):
        criminals = driver.find_elements_by_css_selector('div.table_list > table > tbody > tr')
        for criminal in criminals:
            if len(criminal.find_elements_by_css_selector("td > a")) != 0:
                address_list.append(criminal.find_elements_by_css_selector("td > a")[2].text.strip())
        print(driver.find_elements_by_css_selector('div.paging > a')[i].text)
        driver.find_elements_by_css_selector('div.paging > a')[i].click()
        #if driver.find_elements_by_css_selector('div.paging > a')[i].text == (page_num -1):
            #break

In [121]:
#driver.find_elements_by_css_selector('div.table_list > table > tbody > tr > td > a')[2].text

driver.find_elements_by_css_selector('div.table_list > table > tbody > tr:nth-child(1) > td > a')

[<selenium.webdriver.remote.webelement.WebElement (session="c3f59815ec544a59eeadbe32f164d290", element="28697f01-cbe6-4d6a-b39e-ffaf89beed03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3f59815ec544a59eeadbe32f164d290", element="9e834467-ac7f-413e-a5e3-d0ed82b5b515")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3f59815ec544a59eeadbe32f164d290", element="e2c2f9c6-a4c7-4abb-818c-54b8332e713a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3f59815ec544a59eeadbe32f164d290", element="060227c4-9ef8-4f8d-b39f-2a4b3b8c763f")>]

In [123]:
address_list=[]

url_ys = 'https://www.sexoffender.go.kr/m1s2_4_dong.nsc#sl'
url_j
crawler(6)
print(len(address_list))

2
3
4
5
6
5
26

In [126]:
crawler(3)

2
3
2

In [127]:
len(address_list)

39

In [128]:
crawler(4)

2
3
4
3

In [129]:
crawler(4)

2
3
4
3

In [130]:
crawler(5)

2
3
4
5
4

In [154]:
len(address_list)

100

In [133]:
import requests

url = "https://dapi.kakao.com/v2/local/search/address.json?"
apikey = "2bac3422318896e96bfb6f04e97bdaaa"

In [134]:
req= requests.get(url, params={'query': address_list[0]},
                     headers={'Authorization': 'KakaoAK ' + apikey})

In [136]:
print(req.json())

{'documents': [{'address': {'address_name': '대전 유성구 장대동 328-15', 'b_code': '3020011700', 'h_code': '3020054000', 'main_address_no': '328', 'mountain_yn': 'N', 'region_1depth_name': '대전', 'region_2depth_name': '유성구', 'region_3depth_h_name': '온천2동', 'region_3depth_name': '장대동', 'sub_address_no': '15', 'x': '127.335367944509', 'y': '36.3629456639639'}, 'address_name': '대전 유성구 유성대로783번길 31', 'address_type': 'ROAD_ADDR', 'road_address': {'address_name': '대전 유성구 유성대로783번길 31', 'building_name': '', 'main_building_no': '31', 'region_1depth_name': '대전', 'region_2depth_name': '유성구', 'region_3depth_name': '장대동', 'road_name': '유성대로783번길', 'sub_building_no': '', 'underground_yn': 'N', 'x': '127.335367944509', 'y': '36.3629456639639', 'zone_no': '34165'}, 'x': '127.335367944509', 'y': '36.3629456639639'}], 'meta': {'is_end': True, 'pageable_count': 1, 'total_count': 1}}

In [150]:
js= req.json()
print(js['documents'][0]['address']['region_3depth_h_name'])

온천2동

In [151]:
dlist=[]
for add in address_list:
    req= requests.get(url, params={'query': add},
                     headers={'Authorization': 'KakaoAK ' + apikey})
    js= req.json()
    dong = js['documents'][0]['address']['region_3depth_h_name']
    dlist.append(dong)

In [153]:
len(dlist)

100

In [161]:
import collections

d_dict = collections.Counter(dlist)
print(d_dict)

Counter({'온천1동': 10, '은행선화동': 7, '온천2동': 5, '진잠동': 4, '중리동': 3, '용운동': 3, '판암2동': 3, '갈마2동': 3, '산성동': 3, '대흥동': 3, '석교동': 3, '구즉동': 2, '오정동': 2, '회덕동': 2, '홍도동': 2, '가양2동': 2, '삼성동': 2, '정림동': 2, '가장동': 2, '용문동': 2, '도마1동': 2, '유천1동': 2, '원신흥동': 1, '노은2동': 1, '노은3동': 1, '전민동': 1, '노은1동': 1, '비래동': 1, '덕암동': 1, '대화동': 1, '목상동': 1, '법2동': 1, '법1동': 1, '판암1동': 1, '자양동': 1, '신인동': 1, '중앙동': 1, '산내동': 1, '둔산3동': 1, '탄방동': 1, '괴정동': 1, '둔산2동': 1, '가수원동': 1, '도마2동': 1, '월평2동': 1, '관저2동': 1, '월평1동': 1, '문화2동': 1, '문화1동': 1, '대사동': 1, '문창동': 1, '유천2동': 1, '용두동': 1})

In [170]:
pd.Series(d_dict).to_frame()

        0
온천2동    5
온천1동   10
구즉동     2
진잠동     4
원신흥동    1
노은2동    1
노은3동    1
전민동     1
노은1동    1
비래동     1
중리동     3
오정동     2
회덕동     2
덕암동     1
대화동     1
목상동     1
법2동     1
법1동     1
홍도동     2
판암1동    1
자양동     1
신인동     1
중앙동     1
용운동     3
가양2동    2
산내동     1
삼성동     2
판암2동    3
둔산3동    1
탄방동     1
정림동     2
가장동     2
용문동     2
괴정동     1
둔산2동    1
갈마2동    3
가수원동    1
도마1동    2
도마2동    1
월평2동    1
관저2동    1
월평1동    1
문화2동    1
유천1동    2
은행선화동   7
산성동     3
문화1동    1
대사동     1
대흥동     3
석교동     3
문창동     1
유천2동    1
용두동     1