In [1]:
import pandas as pd 
import numpy as np

### 데이터
1. 유동인구 대비 거주인구 12-18시
2. 유동인구 대비 거주인구 21-03시
3. 면적대비 cctv수  
4. 면적대비 성범죄자수 
5. 유흥업종 카드소비 
6. 유흥+일반음식점 카드소비
7. 여성 1인가구수

In [25]:
xls = pd.ExcelFile('보정_동별유흥매출액.xlsx')
df_5 = pd.read_excel(xls, '유흥합계',usecols = ['행정동','매출액'])
df_6 = pd.read_excel(xls, '유흥+일반음식점합계',usecols = ['행정동','매출액'])

In [26]:
df_5.head()

    행정동           매출액
0  온천1동  2.132155e+10
1  둔산2동  6.185198e+09
2   대흥동  5.434868e+09
3   탄방동  5.421049e+09
4  신탄진동  4.258149e+09

In [27]:
df_5.rename(columns = {'매출액' : '유흥매출액'},inplace=True)
df_6.rename(columns = {'매출액' : '유흥+일반매출액'},inplace=True)

In [32]:
xls = pd.ExcelFile('유동인구.xlsx')
df_1 = pd.read_excel(xls, '12to18',usecols = ['동','유동인구','거주인구','유동인구/거주인구'])
df_2 = pd.read_excel(xls, '21to03',usecols = ['동','유동인구','거주인구','유동인구/거주인구'])

In [33]:
df_1.columns= ['행정동','1218_유동인구','1218_거주인구','1218_유동인구/거주인구']
df_2.columns= ['행정동','2103_유동인구','2103_거주인구','2103_유동인구/거주인구']

In [34]:
df_1.head()

    행정동     1218_유동인구  1218_거주인구  1218_유동인구/거주인구
0   중앙동  2.410229e+06       5033      478.885184
1    효동  1.387323e+06      26167       53.018043
2   신인동  1.152293e+06      12549       91.823481
3  판암1동  1.012310e+06      12807       79.043476
4  판암2동  2.776619e+05       8877       31.278803

In [35]:
import glob

path = r'D:\와이빅타\20_1\대전시공모전\cctv' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [36]:
frame.head()

   Unnamed: 0  행정동  카메라대수  면적(km^2)  면적대비_CCTV
0           0  대화동     43      3.15  13.650794
1           1  덕암동     81      6.22  13.022508
2           2  목상동     44      5.61   7.843137
3           3  법1동     20      0.78  25.641026
4           4  법2동     33      1.87  17.647059

In [37]:
frame.shape

(79, 5)

In [41]:
df3 = frame[['행정동','카메라대수','면적대비_CCTV']]
df3.head()

   행정동  카메라대수  면적대비_CCTV
0  대화동     43  13.650794
1  덕암동     81  13.022508
2  목상동     44   7.843137
3  법1동     20  25.641026
4  법2동     33  17.647059

In [47]:
xls = pd.ExcelFile('보정_동별성범죄자수.xlsx')
df_4 = pd.read_excel(xls,usecols = ['dong','보정_범죄자수','보정_면적대비범죄자수'])

In [49]:
df_4.columns=['행정동','보정_범죄자수','보정_면적대비범죄자수']
df_4.head()

    행정동  보정_범죄자수  보정_면적대비범죄자수
0    효동      0.1     0.041494
1  판암1동      1.0     0.186220
2  판암2동      3.0     3.947368
3   용운동      3.0     0.864553
4   자양동      1.0     0.869565

In [90]:
xls = pd.ExcelFile('여성1인가구수.xlsx')
df_7 = pd.read_excel(xls,usecols = ['행정동','여성1인가구수'])
df_7.head()

    행정동  여성1인가구수
0   자양동     2471
1   용운동     2302
2    효동      936
3  가양2동     1578
4   용전동     1620

In [91]:
data_frames = [df_1, df_2, df3, df_4,df_5,df_6,df_7]

from functools import reduce
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['행정동'],
                                            how='outer'), data_frames)

In [92]:
df_merged.head()

,행정동,1218_유동인구,1218_거주인구,1218_유동인구/거주인구,2103_유동인구,2103_거주인구,2103_유동인구/거주인구,카메라대수,면적대비_CCTV,보정_범죄자수,보정_면적대비범죄자수,유흥매출액,유흥+일반매출액,여성1인가구수
0,중앙동,2.410229e+06,5033,478.885184,575172.600,5033,114.280270,42,33.070866,1.0,0.787402,8.151190e+08,53751417511,490
1,효동,1.387323e+06,26167,53.018043,447480.467,26167,17.100946,210,87.136929,0.1,0.041494,1.979914e+09,57881696036,936
2,신인동,1.152293e+06,12549,91.823481,453473.133,12549,36.136197,42,50.000000,1.0,1.190476,3.350896e+06,2839351265,528
3,판암1동,1.012310e+06,12807,79.043476,313242.867,12807,24.458723,61,11.359404,1.0,0.186220,8.708482e+07,13905259332,640
4,판암2동,2.776619e+05,8877,31.278803,95004.600,8877,10.702332,30,39.473684,3.0,3.947368,9.093965e+07,1449230531,1313

In [94]:
df_merged.shape

(79, 14)

In [96]:
pd.DataFrame.to_csv(df_merged, 'merged.csv', sep=',', na_rep='.', index=False)